node_modules/
dist/
public/images
project.sublime-project
project\.sublime-workspace

nodemon\.json

npm-debug\.log

package-lock\.json
pnpm-lock.yaml

src/server/config/keys

scripts/Cards/
scripts/SetData/
scripts/TranslationData/

.env
mongo.js
