node_modules/
dist/
public/images
project.sublime-project
project\.sublime-workspace

nodemon\.json

npm-debug\.log

package-lock\.json

src/server/config/

scripts/Cards/

scripts/SetData/
