@import "colors.less";

.container-builder{
	padding: 5px;
	overflow-x: hidden;

	.container-deck{

		margin-bottom: 10px;

		.deck-header{
			span{
				margin-left: 10px;
			}
		}

		.card-category{
			overflow-y: auto;	
		}

		.CH{
			max-height: 250px;			
		}

		.EV{
			max-height: 150px;
		}

		.CX{
			max-height: 150px;
		}
	}

	.btn-deck-save{
		float: right;
	}
}

.container-series-selector{
	.container-series-select{
		padding-bottom: 3px;
	}
	.container-filters{
		height: 90px;
		padding: 5px;
		border: 1px solid lightgray;
		.toggles{
			span{
				margin-left: 15px;
			}
		}

		.ant-tabs-nav-container{
			line-height: 1;
		}
	}

	.container-card-selector{
		height: 30vh;
		overflow-y: auto;
	}
}

.container-card{
	min-height:470px;

	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;

	.card{

		.cardimage{
			min-height: 200px;

			.image-not-found{
				font-size: 10em;
			}
		}

		.cardtext{
			padding: 5px;
			max-height: 150px;
			overflow-y: auto;
			background: lightgray;
		}

		.container-property{
			text-align: left;
		}
	}
}

.card-item{
	padding: 0px 5px;

	.ant-list-item-meta{
		flex: 2.5;
	}

	.ant-avatar{
		border-radius: 0px;

		&.ws-RED{
			background-color: @ws-red-bright;
		}
		&.ws-BLUE{
			background-color: @ws-blue-bright;
		}
		&.ws-GREEN{
			background-color: @ws-green-bright;
		}
		&.ws-YELLOW{
			background-color: @ws-yellow-bright;
		}
	}
}