@import "colors.less";

.container-builder{
	padding: 5px;
	overflow-x: hidden;

	.login-alert{
		margin-top: -3px;
		margin-bottom: 3px;
	}

	.container-deck{

		margin-bottom: 10px;

		.deck-header{
			span{
				margin-left: 10px;
			}
		}

		.card-category{
			overflow-y: auto;	
		}

		.CH{
			max-height: 450px;
			flex-grow: 1;			
		}

		.EV{
			max-height: 100px;
		}

		.CX{
			max-height: 100px;
		}
	}

	.btn-deck-save{
		float: right;
	}
}

.container-series-selector{
	.container-series-select{
		display:flex;
		padding-bottom: 3px;
		.ant-spin-nested-loading{
			width: 100%;
			margin-right: 5px;
		}
	}
	.container-filters{
		height: 90px;
		padding: 5px;
		border: 1px solid lightgray;
		.toggles{
			span{
				margin-left: 15px;
			}
		}

		.ant-tabs-nav-container{
			line-height: 1;
		}
	}

	.container-card-selector{
		height: 30vh;
		overflow-y: auto;
	}
}

.card-item{
	padding: 0px 5px;

	.ant-list-item-meta{
		flex: 2.5;
	}

	.ant-avatar{
		border-radius: 0px;

		&.ws-RED{
			background-color: @ws-red-bright;
		}
		&.ws-BLUE{
			background-color: @ws-blue-bright;
		}
		&.ws-GREEN{
			background-color: @ws-green-bright;
		}
		&.ws-YELLOW{
			background-color: @ws-yellow-bright;
		}
		&.ws-PURPLE{
			background-color: @ws-purple-bright;
		}
	}
}