@import "colors.less";
@import "variables.less";

.container-deckdisplay{
	padding: 10px;
}

.container-deckview{
	overflow-x: hidden;
	.header{
		font-weight: bolder;
		color: gray;
	}
	.deck-header{

		.set-tags{
			max-height: 80px;
			overflow-y: auto;
			.ant-tag{
				margin-bottom: 3px;
			}
		}

		.btn-claim{
			margin-left: 10px;
		}

		.deck-description{
			max-height: 7em;
			overflow-y: auto;
			white-space: pre-line;

		}

		.display{
			margin-bottom: 5px;
		}

		.controls{
			margin-left: auto;
		}
	}
}


.container-carditem{
	text-align: center;
	margin-top: 10px;
	min-height: 240px;

	.cardimage{
		height: @card-height;
		width: @card-width;
		font-size: 7em;

		&.CX{
			height: @card-width;
			width: @card-height;
		}	

		img{
			height:100%;
			width:100%;
		}	
	}

	.card-name{
		/*this stuff lets card name wrap two lines and then hide overflow*/
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
}

.ant-tooltip{
	max-width: 300px;
}