@import "colors.less";
.container-decksearch{
	padding: 10px;
}

.container-deckfilters{
	margin-bottom:15px;
	padding: 10px;
	border: 1px solid #e8e8e8;

	.filter{
		span{
			font-weight: bold;
		}

		.ant-checkbox-group-item{
			margin-right: 0px;
		}
	}
}

.pagination{
	margin-top: 10px;
}

.container-decksdisplay{
	padding: 10px;
	border: 1px solid #e8e8e8;
	height: 80vh;
	overflow-y: auto;

	.nodecks{
		text-align: center;
		font-size: 3em;
		padding-top: 50px;
		color: gray;
	}
}