@import "colors.less";

.container-deckdisplay{
	padding: 10px;
}

.container-deckview{
	.header{
		font-weight: bolder;
		color: gray;
	}
	.deck-header{
		.deck-description{
			max-height: 6em;
			overflow-y: auto;
		}
	}
}


.container-carditem{
	text-align: center;
	margin-top: 10px;
	min-height: 240px;

	.card-name{
		/*this stuff lets card name wrap two lines and then hide overflow*/
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
}
