@import "colors.less";
@import "variables.less";

.container-header{
	.ant-menu{
		li{
			font-size: 17px;
		}
	}

	img{
		vertical-align:middle;
		height:25px;
	}	

	.right{
		float: right;
	}
}

.container-card{
	min-height:470px;

	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;

	-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);

	&.locked{
		border-width: 3px;
		border-color: red;
	}

	.card{

		.card-name{
			text-decoration: underline;
			color: #1890ff;
		}

		.cardimage{
			max-height: @card-height;

			img{
				max-height: @card-height;
				max-width: @card-height;
			}

			.image-not-found{
				font-size: 7em;
			}
		}

		.cardtext{
			margin-top: 5px;
			padding: 5px;
			max-height: 150px;
			overflow-y: auto;
			background: lightgray;
		}

		.container-property{
			text-align: left;
		}

		.deck-controls{
			display:flex;
			width:200px;
			margin:auto;
			margin-top: 3px;
			button{
				flex:1;
			}
		}
	}
}

.container-attributes{
	margin-left: 5px;
	i{
		margin-right: 5px;
	}
}

.container-deckcard{

	margin-bottom: 15px;

	.ant-card{
		height: 300px;
		display: flex;
		flex-direction: column;
	}

	.ant-card-body{
		padding: 15px;
		flex-grow: 1;
	}

	.title{
		font-weight: bolder;
		.deckname{
			max-height: 3em;
			display: block;
			overflow:hidden;
			color: rgba(0, 0, 0, 0.85);
			text-decoration: none;

			/*Better shiny webkit solution to name overflowing*/
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;  
		}
		a{
			white-space: normal;
			&.user{
				max-height: 2em;
				display: block;
				overflow:hidden;

				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
		}
		
	}

	.ant-card-meta-description{
		height:3em;
		overflow: hidden;

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
	}

	.container-attributes{
		position: absolute;
		bottom: 15px;
	}

	.deck-favorite{		
		position:absolute;
		bottom: 10px;
		right: 15px;
	}
}

.deck-favorite{		
	line-height: normal;
	font-size: 9px;

	.fa-star{
		color:@ws-yellow-bright;
	}

	.favorite-count{
		margin-top: 12px;
		font-size: 12px;
		text-align: center;
		color: rgba(0, 0, 0, 0.45);

		&.myfavorite{
			color:white;
		}
	}
}

.deck-image{
	overflow: hidden;
	height: 100px;
	text-align: center;
	font-size: 5em;

	i{
		color: gray;
	}

	img{
		width: 100%;
		min-height: 200px;
		margin-top: -26%;
		object-fit: cover;
	}
}

.ant-btn{

	&.success{
		background-color: @success!important;
		border-color: @success-border!important;
		color: white!important;

		&:hover{
			background-color: @success-highlight!important;
		}
	}

	&.danger{
		background-color: @danger!important;
		border-color: @danger-border!important;
		color: white!important;

		&:hover{
			background-color: @danger-highlight!important;
		}
	}
}

.anticon{
	&.ws-tournament{
		color: @ws-yellow-bright;
		font-size: 2em;
	}

	&.ws-heart{
		color: pink;
		font-size: 2em;
	}
}

.ant-switch.squared{//lang switch in builder
	height: 32px;
	border-radius:5px;

	&:after{
		top:6px;
	}
}

.ant-switch-checked{
	&.RED{
		background-color: @ws-red-bright;
	}

	&.YELLOW{
		background-color: @ws-yellow-bright;
	}

	&.BLUE{
		background-color: @ws-blue-bright;
	}

	&.GREEN{
		background-color: @ws-green-bright;
	}

	&.PURPLE{
		background-color: @ws-purple-bright;
	}
}

.ant-list-item-meta-content{
	flex: 1 0!important;
	/*
	For some reason, the flex values in the dev env differ from prod
	This is the way it need to be
	*/
}

.clickable{
  cursor: pointer;
}

.icon-button{
  &:hover{
    color:#1890ff;
  }
}

.flex-container{
	display: flex;
}

.nice-scroll{

	::-webkit-scrollbar {
	  width: 6px;
	  height: 4px;
	}
	::-webkit-scrollbar-button {
	  width: 5px;
	  height: 5px;
	}
	::-webkit-scrollbar-thumb {
	  background: #e1e1e1;
	  border: 0px none #ffffff;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #ffffff;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #c4c4c4;
	}
	::-webkit-scrollbar-track {
	  background: #666666;
	  border: 0px none #ffffff;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-track:hover {
	  background: #666666;
	}
	::-webkit-scrollbar-track:active {
	  background: #7c7c7c;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}
}

.akiba{
	color: @akiba-purple;
}

footer{
	hr{
		display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
	}
	.disclaimer{
		text-align: center;
		color: gray;
	}	
}