@import "colors.less";

.container-header{
	display: inline-block;
	height: 44px;
	font-size: 17px;
	color: #f1f1f1;
	background-color: #5f5f5f;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);

	.header-button{
		padding: 10px 15px 9px 15px;
		float: left;
		height: inherit;
		width: auto;
		display: block;
		text-align: center;
		color: inherit;
		vertical-align: middle;

		&.right{
			float: right;
		}

		&:hover{
			background-color: #000000;
		}

		img{
			max-height: 100%;
			max-width: 100%;
		}

		i{
			font-size: 26px;
		}
	}
}

.container-card{
	min-height:470px;

	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;

	-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);

	&.locked{
		border-width: 3px;
		border-color: red;
	}

	.card{

		.card-name{
			text-decoration: underline;
			color: #1890ff;
		}

		.cardimage{
			min-height: 200px;

			.image-not-found{
				font-size: 10em;
			}
		}

		.cardtext{
			padding: 5px;
			max-height: 150px;
			overflow-y: auto;
			background: lightgray;
		}

		.container-property{
			text-align: left;
		}
	}
}

.container-attributes{
	margin-left: 5px;
	i{
		margin-right: 5px;
	}
}

.deck-favorite{		
	line-height: normal;
	font-size: 9px;

	.fa-star{
		color:@ws-yellow-bright;
	}

	.favorite-count{
		margin-top: 12px;
		font-size: 12px;
		text-align: center;
		color: rgba(0, 0, 0, 0.45);

		&.myfavorite{
			color:white;
		}
	}
}

.ant-btn{

	&.success{
		background-color: @success!important;
		border-color: @success-border!important;
		color: white!important;

		&:hover{
			background-color: @success-highlight!important;
		}
	}

	&.danger{
		background-color: @danger!important;
		border-color: @danger-border!important;
		color: white!important;

		&:hover{
			background-color: @danger-highlight!important;
		}
	}
}

.anticon{
	&.ws-tournament{
		color: @ws-yellow-bright;
		font-size: 2em;
	}

	&.ws-heart{
		color: pink;
		font-size: 2em;
	}
}

.ant-switch.squared{//lang switch in builder
	height: 32px;
	border-radius:5px;

	&:after{
		top:6px;
	}
}

.ant-switch-checked{
	&.RED{
		background-color: @ws-red-bright;
	}

	&.YELLOW{
		background-color: @ws-yellow-bright;
	}

	&.BLUE{
		background-color: @ws-blue-bright;
	}

	&.GREEN{
		background-color: @ws-green-bright;
	}

	&.PURPLE{
		background-color: @ws-purple-bright;
	}
}

.ant-list-item-meta-content{
	flex: 1 0!important;
	/*
	For some reason, the flex values in the dev env differ from prod
	This is the way it need to be
	*/
}

.clickable{
  cursor: pointer;
}

.icon-button{
  &:hover{
    color:#1890ff;
  }
}

.flex-container{
	display: flex;
}

.nice-scroll{

	::-webkit-scrollbar {
	  width: 6px;
	  height: 4px;
	}
	::-webkit-scrollbar-button {
	  width: 5px;
	  height: 5px;
	}
	::-webkit-scrollbar-thumb {
	  background: #e1e1e1;
	  border: 0px none #ffffff;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-thumb:hover {
	  background: #ffffff;
	}
	::-webkit-scrollbar-thumb:active {
	  background: #c4c4c4;
	}
	::-webkit-scrollbar-track {
	  background: #666666;
	  border: 0px none #ffffff;
	  border-radius: 50px;
	}
	::-webkit-scrollbar-track:hover {
	  background: #666666;
	}
	::-webkit-scrollbar-track:active {
	  background: #7c7c7c;
	}
	::-webkit-scrollbar-corner {
	  background: transparent;
	}
}

footer{
	hr{
		display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
	}
	.disclaimer{
		text-align: center;
		color: gray;
	}	
}