<!DOCTYPE html>
<html class="nice-scroll">
	<head>
		<title>Deck Builder</title>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="app">
			
		</div>
	</body>
	<footer class="{{theme}}">
		<div class="disclaimer">
		The card images used on this site have been obtained and re-posted from Bushiroad websites in accordance to the guidelines stated there. Re-use of these images (re-post, distribution) is strictly prohibited.
©Bushiroad All Rights Reserved.
		</div>
	</footer>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
		  WS.event.emit('page.app.load', {el:'#app', mode: '{{mode}}', deckid: '{{deckid}}', loggedin: '{{loggedin}}', theme: '{{theme}}'});
		 })
	</script>
	{{> header}}
</html>