<!DOCTYPE html>
<link rel="shortcut icon" href="favicon.ico">
<html class="nice-scroll">
	<head>
		<title>Deck Search</title>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="decksearch">

		</div>
	</body>
	<script>
	  WS.event.emit('page.header', {el:'#header'})
	  WS.event.emit('decksearch.load', { el: '#decksearch' })
	</script>
</html>