<!DOCTYPE html>
<html class="nice-scroll">
	<head>
		
	</head>
	<body>
		<div id="header">

		</div>
		<div id="deckview">

		</div>
	</body>
	<script>
	  WS.event.emit('page.header', {el:'#header', title: '{{deckname}}', loggedin: '{{loggedin}}'})
	  WS.event.emit('deckview.load', { el: '#deckview', deckid: '{{deckid}}', loggedin: '{{loggedin}}' })
	</script>
</html>