<!DOCTYPE html>
<html class="nice-scroll {{theme}}">
	<head>
		<title>Deck Search</title>
		<style>
			.dark {
				background-color: #141414
			}
		</style>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="decksearch">

		</div>
	</body>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
			WS.event.emit('decksearch.load', { el: '#decksearch', loggedin: '{{loggedin}}', theme: '{{theme}}' })
		});
	</script>
	{{> header}}
</html>