<!DOCTYPE html>
<html class="nice-scroll">
	<head>
		<title>Deck Search</title>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="decksearch">

		</div>
	</body>
	<script>
	  WS.event.emit('page.header', {el:'#header', loggedin: '{{loggedin}}'})
	  WS.event.emit('decksearch.load', { el: '#decksearch', loggedin: '{{loggedin}}' })
	</script>
</html>