<!DOCTYPE html>
<html class="nice-scroll {{theme}}">
	<head>
		<title>{{deckname}}</title>
		<style>
			.dark {
				background-color: #141414
			}
		</style>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="deckview">

		</div>
	</body>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
			WS.event.emit('deckview.load', { el: '#deckview', deckid: '{{deckid}}', loggedin: '{{loggedin}}', userid: '{{userid}}', theme: '{{theme}}' })
		})
	</script>
	{{> header}}
</html>