<!DOCTYPE html>
<html class="nice-scroll">
	<head>
		
	</head>
	<body>
		<div id="header">

		</div>
		<div id="deckview">

		</div>
	</body>
	<script>
	  WS.event.emit('deckview.load', { el: '#deckview', deckid: '{{deckid}}', loggedin: '{{loggedin}}', userid: '{{userid}}' })
	</script>
	{{> header}}
</html>