<!DOCTYPE html>
<link rel="shortcut icon" href="favicon.ico">
<html class="nice-scroll {{theme}}">
	<head>
		<title>Login</title>
		<style>
			.dark {
				background-color: #141414
			}
		</style>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="login">

		</div>
	</body>
	<script>
	document.addEventListener("DOMContentLoaded", function(event) { 
	  WS.event.emit('login.load', { el: '#login', tab: '{{tab}}', token: '{{token}}' })
	})
	</script>
	{{> header}}
</html>