<!DOCTYPE html>
<html class="nice-scroll">
	<head>
		<title>Translation Builder</title>
	</head>
	<body>
		<div id="header">

		</div>
		<div id="translations">

		</div>
	</body>
	<script>
	  WS.event.emit('translations.load', { el: '#translations', loggedin: '{{loggedin}}' })
	</script>
	{{> header}}
</html>