<!DOCTYPE html>
<html class="nice-scroll {{theme}}">
  <head>
    <title>{{username}}</title>
    <style>
      .dark {
        background-color: #141414
      }
    </style>
  </head>
  <body>
    <div id="header">

    </div>
    <div id="user">

    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
      WS.event.emit('user.load', { el: '#user', userid: '{{userid}}', username: '{{username}}', loggedin:'{{loggedin}}', theme: '{{theme}}' })
    })
  </script>
  {{> header}}
</html>