<!DOCTYPE html>
<html class="nice-scroll">
  <head>
    <title>{{username}}</title>
  </head>
  <body>
    <div id="header">

    </div>
    <div id="user">

    </div>
  </body>
  <script>
    WS.event.emit('user.load', { el: '#user', userid: '{{userid}}', username: '{{username}}', loggedin:'{{loggedin}}' })
  </script>
  {{> header}}
</html>