<!DOCTYPE html>
<html class="nice-scroll">
  <head>
    <title>User</title>
  </head>
  <body>
    <div id="header">

    </div>
    <div id="user">

    </div>
  </body>
  <script>
    WS.event.emit('page.header', {el:'#header', loggedin: '{{loggedin}}'})
    WS.event.emit('user.load', { el: '#user' })
  </script>
</html>